---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables - fonts

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Signika", Georgia, "Times New Roman", Times, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// variables - colors

$brand-color:       #2a7ae2;
$main-color:        #7f8c97; // main text
$text-color:        #222222;
$link-color:        #acb7c0; // anchor tags
$background-color:  #4e7998; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #a8c86c; // green
$color-5: #f0ca45; // yellow

// layout - breakpoints

$S:     320px;
$M:     768px;
$L:     1170px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "base", "mixin", "timeline", "flower";
