---
layout: default
---
<div class="flower">
  <div class="flower-head"></div>
  <section id="cd-timeline" class="cd-container flower-stem">

    {% assign sorted_posts = (site.posts | sort: 'order_post') %}
    {% for post in sorted_posts %}

      {% if post.marathon == 2017 %}

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="{{ post.author.avatar }}" alt="Picture">
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            {% if post.public_participation == true %}
              <span class="star-text">Participación Abierta</span>
              <img src="{{ "/images/star.png" | prepend: site.baseurl }}" class="star" alt="El público puede acceder al directo para participar" title="El público puede acceder al directo para participar" />
            {% endif %}
            <h2 class="title">Directo de {{ post.author.name }}</h2>
            <p>{{ post.content }}</p>
            <a href="{{ post.schedule.international }}" target="_blank" class="cd-read-more">Horario international</a>
            {% if post.public_hangout %}
              <a href="https://hangouts.google.com/hangouts/_/{{ post.public_hangout }}?hl=es_ES" target="_blank" class="cd-participate">
                <i class="fa fa-video-camera" aria-hidden="true"></i> Participa
              </a>
            {% endif %}
            <div class="cd-youtube">
              <div class="g-ytsubscribe" data-channelid="{{ post.author.yt_channel }}" data-layout="full" data-count="hidden"></div>
            </div>
            <span class="cd-date">{{ post.schedule.cet_time | date: "%d %b %Y %H:%M" }} <small>CET</small></span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

      {% endif %}

    {% endfor %}

  </section> <!-- cd-timeline -->
</div>
