<footer>
  <div class="container">

    <div class="row">
      <div class="col-sm-8 margin-20">
        <ul class="list-inline social">
          <li>Conéctese con nosotros en</li>
          <li><a href="{{ site.facebook_link }}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{ site.youtube_link }}"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-right">
        <p>Creado con <i class="fa fa-heart-o"></i></p>
      </div>
    </div>

  </div>
</footer>


<!-- Javascripts -->
<script src="//apis.google.com/js/api.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src=\"{{ '/assets/javascripts/jquery-1.11.0.min.js' | prepend: site.baseurl }}\"><\/script>")</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{{ '/assets/javascripts/wow.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/main.js' | prepend: site.baseurl }}"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59ff4773ed4bc729"></script>
