<header id="header">
  <a href="{{ site.baseurl }}">
    <img src="{{ "/images/title.png" | prepend: site.baseurl }}" />
  </a>
  <h3>¿Cuál es nuestro propósito?</h3>
  <p>Objetivos de la maratón es hablar de temas apoyando la paz mundial que es la resolución de conflictos para que cohabitamos en armonía y felicidad en la creación.</p>
  <p>Habrá una multitud de temas y dar la oportunidad a las personas de que se sumen a las tertulias abiertas y que todos expresen su parecer.</p>
  <p>168 horas donde pueden entrar 10 personas simultáneamente e ir rotando para que todos puedan dar su opinión y seguir difundiendo esta iniciativa de paz.</p>
  <p>
    <span class="st_facebook_large" displayText="Facebook"></span>
    <span class="st_twitter_large" displayText="Tweet"></span>
    <span class="st_googleplus_large" displayText="Google +"></span>
    <span class="st_pinterest_large" displayText="Pinterest"></span>
    <span class="st_sharethis_large" displayText="ShareThis"></span>
    <span class="st_email_large" displayText="Email"></span>
  </p>
</header>
