<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="index.html"><img src="{{ '/assets/images/logo.svg' | prepend: site.baseurl }}" alt="Logo"></a>
      </div>
      <div class="col-xs-6 signin text-right navbar-nav">
        <!-- <a href="#streaming" class="scroll">Streaming</a>&nbsp; &nbsp;
        <a href="#multimedia" class="scroll">Radio</a>&nbsp; &nbsp;
        <a href="#invite" class="scroll">Revista</a>&nbsp; &nbsp; -->
        <a href="{{ '/index.html' | prepend: site.baseurl }}">Maraton 2018</a>&nbsp; &nbsp;
        <a href="{{ '/marathon-2017.html' | prepend: site.baseurl }}">Maraton 2017</a>&nbsp; &nbsp;
        <a href="{{ '/marathon-2016.html' | prepend: site.baseurl }}">Maraton 2016</a>
      </div>
    </div>

    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn">Gran Maratón por La Paz</h1>
        <br />
        <p class="lead wow fadeIn" data-wow-delay="0.5s">Paz mundial, un hermoso objetivo.</p>
        <br />

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                <a href="#streaming" class="btn btn-secondary btn-lg scroll">Leer Más</a>
              </div>
              <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                <a href="#streaming" class="btn btn-primary btn-lg scroll">Streaming</a>
              </div>
            </div><!--End Button Row-->
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
