<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">

  <!-- <meta property="og:title" content=""> -->
  <!-- <meta property="og:type" content="website"> -->
  <!-- <meta property="og:url" content=""> -->
  <!-- <meta property="og:site_name" content=""> -->
  <!-- <meta property="og:description" content=""> -->

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/assets/stylesheets/font-awesome.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/stylesheets/animate.css' | prepend: site.baseurl }}">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/stylesheets/bootstrap.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | prepend: site.baseurl }}">

  <!-- Javascript -->
  <script src="{{ '/assets/javascripts/modernizr-2.7.1.js' | prepend: site.baseurl }}"></script>
</head>
