<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/assets/images/logo.svg' | prepend: site.baseurl }}" alt="Logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#streaming" class="scroll">Objetivos</a></li>
        <li><a href="#event" class="scroll">Evento</a></li>
        <li><a href="#multimedia" class="scroll">Radio</a></li>
        <li><a href="#invite" class="scroll">Revista</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
