<section id="streaming" class="pad-xl">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
        <h2>¡Por la Paz!</h2>
        <p class="lead">Súmate a esta cadena por la paz mundial, donde cada quien
          publica un vídeo por la paz.</p>
      </div>
    </div>

    <div id="event" class="owl-carousel owl-theme margin-20" data-wow-delay="1s"></div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
        <p><strong>¿Queréis compartir tu vídeo por la paz?</strong></h3>
        <p>
          <a href="https://goo.gl/forms/TiQDV3SgqHqETRur1" target="_blank" class="btn btn-primary">
            ¡Quiero compartir mi vídeo!
          </a>
        </p>
      </div>
    </div>

  </div>
</section>
