<section id="invite" class="pad-lg light-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <i class="fa fa-book margin-40"></i>
        <h2 class="black">¿Estás aburrido?</h2>
        <br />
        <p class="black">Si en algún momento hubiera algún contratiempo en nuestra
          maratón, siempre puedes hacer tiempo leyendo nuestra revista.</p>
        <br />

        <div class="row margin-30">
          <div class="col-sm-12">
            <a href="{{ 'https://drive.google.com/open?id=1gW34Bgr9ZoH52NDCQkD-b1DJa_8Den87'}}" class="magazine btn btn-success" target="_blank">
              Agosto 2017
            </a>
            <a href="{{ 'https://drive.google.com/open?id=194JAxLTn-uHW1owxZeTcRQsuYf_xgm92' }}" class="magazine btn btn-success" target="_blank">
              Septiembre 2017
            </a>
            <a href="{{ 'https://drive.google.com/open?id=1sYCcE4H5s0fJYZNQc_CFWDa1rCzXmtvO' }}" class="magazine btn btn-success" target="_blank">
              Octubre 2017
            </a>
            <a href="{{ 'https://drive.google.com/open?id=1WMK5oW4bw6VGzxIYMFWRqClkAmOqdVUx' }}" class="magazine btn btn-success" target="_blank">
              Noviembre 2017
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
