<section id="invite" class="pad-lg light-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <i class="fa fa-book margin-40"></i>
        <h2 class="black">¿Estás aburrido?</h2>
        <br />
        <p class="black">Si en algún momento hubiera algún contratiempo en nuestra
          maratón, siempre puedes hacer tiempo leyendo nuestra revista.</p>
        <br />

        <div class="row margin-30">
          <div class="col-sm-4 col-sm-offset-2">
            <a href="http://joom.ag/6nnL" class="magazine">
              <img src="https://s4cdn.joomag.com/res_mag/0/656/656832/1304934/thumbs/31422735.jpg?1507264763" class="img-responsive">
              <span>Octubre 2017</span>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="http://joom.ag/Dr4L" class="magazine">
              <img src="https://s4cdn.joomag.com/res_mag/0/656/656832/1268502/thumbs/30564077.jpg?1505193933" class="img-responsive">
              <span>Setiembre 2017</span>
            </a>
          </div>
        </div>

        <div class="row margin-50">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <a href="https://newsstand.joomag.com/es/paz-mundial-revista-virtual/M0349861001501302061" class="btn btn-primary btn-lg">Más revistas</a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p class="black">Te invitamos a que te suscribas de forma gratuita, para
              que te lleguen nuestras publicaciones a tu correo electrónico.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <form role="form" method="post" action="https://www.joomag.com/Frontend/WebService/subscribe_to_magazine.php">
              <input type="hidden" name="issue_uid" value="0530839001504474691">
              <input type="hidden" name="uid" value="M0349861001501302061">
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" value="" required="required" placeholder="Correo electrónico">
              </div>
              <div class="form-group">
                <p class="j-terms-and-privacy">
                  Al hacer clic en el botón Suscribirse, acepta los
                  <a href="https://www.joomag.com/es/terms" target="_blank" class="black">Términos de uso</a>
                  y la <a href="https://www.joomag.com/es/privacy" target="_blank" class="black">Política de privacidad</a> de Joomag
                </p>
                <button type="submit" class="btn btn-info btn-lg">Suscribirse</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
