<section id="streaming" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
        <h2>¡La maratón!</h2>
        <p class="lead">Acompañanos y participa, cuantos más mejor. :grinning:</p>
      </div>
    </div>

    <div class="owl-carousel owl-theme margin-30" data-wow-delay="1s"></div>

    <div class="text-center">
      <form class="form-inline" action="{{page.url}}">
        <div class="form-group">
          <div class="form-group">
            <div class="input-group">
              <label for="tz" class="input-group-addon">Elige tu Zona Horaria</label>
              <select class="form-control" id="tz" name="tz" data-behaviour="on-change-submit">
                <option>Africa/Abidjan</option>
                <option>Africa/Cairo</option>
                <option>Africa/Johannesburg</option>
                <option>Africa/Lagos</option>
                <option>Africa/Maputo</option>
                <option>Africa/Nairobi</option>
                <option>Africa/Tripoli</option>
                <option>America/Adak</option>
                <option>America/Anchorage</option>
                <option>America/Argentina/Buenos_Aires</option>
                <option>America/Argentina/Catamarca</option>
                <option>America/Argentina/Cordoba</option>
                <option>America/Argentina/Jujuy</option>
                <option>America/Argentina/Mendoza</option>
                <option>America/Atikokan</option>
                <option>America/Chicago</option>
                <option>America/Denver</option>
                <option>America/Detroit</option>
                <option>America/Edmonton</option>
                <option>America/Fort_Wayne</option>
                <option>America/Halifax</option>
                <option>America/Havana</option>
                <option>America/Indiana</option>
                <option>America/Jamaica</option>
                <option>America/Kentucky</option>
                <option>America/Los_Angeles</option>
                <option>America/Manaus</option>
                <option>America/Mazatlan</option>
                <option>America/Mexico_City</option>
                <option>America/New_York</option>
                <option>America/Noronha</option>
                <option>America/Panama</option>
                <option>America/Phoenix</option>
                <option>America/Port_of_Spain</option>
                <option>America/Regina</option>
                <option>America/Rio_Branco</option>
                <option>America/Santiago</option>
                <option>America/Sao_Paulo</option>
                <option>America/St_Johns</option>
                <option>America/Tijuana</option>
                <option>America/Vancouver</option>
                <option>America/Whitehorse</option>
                <option>America/Winnipeg</option>
                <option>Asia/Ashgabat</option>
                <option>Asia/Bangkok</option>
                <option>Asia/Dhaka</option>
                <option>Asia/Dubai</option>
                <option>Asia/Ho_Chi_Minh</option>
                <option>Asia/Hong_Kong</option>
                <option>Asia/Jerusalem</option>
                <option>Asia/Kathmandu</option>
                <option>Asia/Kolkata</option>
                <option>Asia/Kuala_Lumpur</option>
                <option>Asia/Macau</option>
                <option>Asia/Makassar</option>
                <option>Asia/Nicosia</option>
                <option>Asia/Qatar</option>
                <option>Asia/Rangoon</option>
                <option>Asia/Riyadh</option>
                <option>Asia/Seoul</option>
                <option>Asia/Shanghai</option>
                <option>Asia/Taipei</option>
                <option>Asia/Tehran</option>
                <option>Asia/Thimphu</option>
                <option>Asia/Tokyo</option>
                <option>Asia/Ulaanbaatar</option>
                <option>Asia/Urumqi</option>
                <option>Atlantic/Faroe</option>
                <option>Atlantic/Reykjavik</option>
                <option>Atlantic/South_Georgia</option>
                <option>Australia/Adelaide</option>
                <option>Australia/Brisbane</option>
                <option>Australia/Broken_Hill</option>
                <option>Australia/Darwin</option>
                <option>Australia/Hobart</option>
                <option>Australia/Lord_Howe</option>
                <option>Australia/Melbourne</option>
                <option>Australia/Perth</option>
                <option>Australia/Sydney</option>
                <option>Etc/GMT+0</option>
                <option>Etc/UCT</option>
                <option>Europe/Belgrade</option>
                <option>Europe/Chisinau</option>
                <option>Europe/Dublin</option>
                <option>Europe/Helsinki</option>
                <option>Europe/Istanbul</option>
                <option>Europe/Istanbul</option>
                <option>Europe/Lisbon</option>
                <option>Europe/London</option>
                <option>Europe/Madrid</option>
                <option>Europe/Moscow</option>
                <option>Europe/Oslo</option>
                <option>Europe/Prague</option>
                <option>Europe/Rome</option>
                <option>Europe/Warsaw</option>
                <option>Europe/Zurich</option>
                <option>Indian/Christmas</option>
                <option>Pacific/Auckland</option>
                <option>Pacific/Chatham</option>
                <option>Pacific/Easter</option>
                <option>Pacific/Guam</option>
                <option>Pacific/Honolulu</option>
                <option>Pacific/Kwajalein</option>
                <option>Pacific/Pago_Pago</option>
                <option>Pacific/Palau</option>
                <option>Pacific/Pohnpei</option>
                <option>Pacific/Port_Moresby</option>
                <option>Pacific/Tarawa</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
