html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  margin: 0;
  font: {
    size: 100%;
    family: $font-family-serif;
  }
  color: $main-color;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
  font-family: $font-family-sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

#header {
  text-align: center;
  padding: 0 0 50px 0;
  color: #333;
  background-color: #fff;
}
