.flower{
  > .flower-head {
    background-image: url('../images/flower-head.png');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 322px;
  }

  > .flower-stem {
    background-image: url('../images/flower-stem.png');
    background-repeat: repeat-y;
    background-position: center;
  }
}
